*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: white;
    font-family: sans-serif;
}

body {
    background-image: url("images/table.png");
    background-size: cover;
}

.heading {
    color: goldenrod;
    margin: 50px;
    font-weight: bold;
    font-size: 3cap;
}

#cards {
    margin: 15px 0px;
}

.controls {
    margin: 15px;
}

.message {
    font-style: italic;
}

button{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    color: darkgreen;
    font-size: medium;
    border-radius: 5px;
    margin-bottom: 1px;
    border: none;
}